__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.*

venv/
.venv/

.git/
.gitignore

logs/

# Ignore my practice folder
Enhancements and Practice folder/

# Ignore this docs folder
docs/

# Ignor ethos practice folder
practice ✅/

# Ignore this randon-folder
random-folder/


