__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.*

venv/
.venv/

.git/
.gitignore

logs/

# ============================================================
# 🚀 CI GENERATED BUILD METADATA
# Keep build_info.json inside Docker image
# ============================================================
!build_info.json
